# For advice on how to change settings please see / http://tools.percona.com/
# http://dev.mysql.com/doc/refman/5.7/en/server-configuration-defaults.html


# ================================================================================
[mysql]

# CLIENT #
port                           = 3306
socket                         = /var/lib/mysql/mysql.sock

# ================================================================================


# ================================================================================
[mysqld]

# GENERAL #
user                            = mysql
default-storage-engine          = InnoDB
socket                          = /var/lib/mysql/mysql.sock
pid-file                        = /var/lib/mysql/mysql.pid
sql-mode                        = NO_AUTO_CREATE_USER
ssl                             = 0
bind-address                    = localhost
explicit-defaults-for-timestamp = 1 
skip-external-locking

# DATA STORAGE #
datadir                         = /var/lib/mysql/mysql/
secure_file_priv                = /var/lib/mysql/mysql-files

# BINARY LOGGING #
server_id                       = 1
log-bin                         = /var/lib/mysql/mysql/mysql-bin
expire-logs-days                = 14
sync-binlog                     = 1

# LOGGING #
log-error                       = /var/log/mysqld.log
log-queries-not-using-indexes   = 1
slow-query-log                  = 1
slow-query-log-file             = /var/log/mysql-slow.log

# MyISAM #
key-buffer-size                 = 12M
sort-buffer-size                = 512K
myisam_recover_options          = FORCE,BACKUP

# SAFETY #
max-allowed-packet              = 1G
max-connect-errors              = 1000000
symbolic-links                  = 0
wait-timeout                    = 28800
interactive-timeout             = 28800
connect-timeout                 = 600
net-read-timeout                = 1000
net-write-timeout               = 1000


# CACHES AND LIMITS #
tmp-table-size                  = 1G
max-heap-table-size             = 1G
query-cache-type                = 1
query-cache-size                = 32M
max-connections                 = 200
thread-cache-size               = 8
table-definition-cache          = 400                                      # As big as many tables you have
table-open-cache                = 400                                      # connections x tables/connection (~2)
read_buffer_size                = 256K

# INNODB #
innodb-flush-method             = O_DIRECT
innodb-log-files-in-group       = 2
innodb-log-file-size            = 256M
innodb-flush-log-at-trx-commit  = 1
innodb-file-per-table           = 1
innodb-buffer-pool-size         = 8G
innodb_buffer_pool_instances    = 8

# Set UTF-8
collation-server                = utf8_general_ci
character-set-server            = utf8

# ================================================================================


# ================================================================================
[client]
socket                         = /var/lib/mysql/mysql.sock

# ================================================================================
